.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  width: 42rem;
  height: 100vh;
}

.title {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
  color: #333;
}

.add-button {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #4fc41d;
  box-shadow: 2px 2px 10px #aaa;
}

.add-button:hover,
.add-button:focus {
  background-color: #268000;
}

.add-button:active {
  box-shadow: 1px 0px 7px #aaa;
}

.add-icon {
  width: 3.6rem;
  color: #eee;
}
