.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  transition: all 0.3s;
}

.button:focus {
  outline: none;
}

.button:disabled {
  cursor: default;
}

/* Round Button */
.button-round {
  border-radius: 100%;
}

/* Positions */
.top-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
