.button {
  display: flex;
  align-items: center;
  border: none;
  background-color: #4fc41d;
  color: #eee;
  font-size: 2.4rem;
  box-shadow: 2px 2px 12px #aaa;
  transition: all 0.3s;
}

.button:hover {
  background-color: #268000;
}

.button:active {
  box-shadow: 1px 0px 5px #aaa;
}

/* Small Rectangle */
.button-small-rectangle {
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  padding: 0.8rem;
  font-size: 1.2rem;
}

.button-small-rectangle:hover {
  color: #4fc41d;
  background-color: #fff;
}

/* Round Button */
.button-round {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 100%;
}

/* Positions */
.top-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
