.todo__list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 2px 1px 10px #ddd;
}

.todo__list-icons {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  width: 2.4rem;
  height: 2.4rem;
}

.todo__list-button {
  width: 2.4rem;
  height: 2.4rem;
}

.todo__list-button:hover .todo__list-icon,
.todo__list-button:focus .todo__list-icon {
  color: #a30e0e;
  stroke-width: 1.7;
}

.todo__list-icon {
  color: #333;
  transition: all 0.3s;
}
