.todo__list-item {
  display: flex;
  padding: 1.6rem;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 2px 1px 10px #ddd;
}

.todo__list-icons {
  flex: 0 0 auto;
  width: 2.4rem;
  height: 2.4rem;
}

.todo__list-icon {
  stroke-width: 1.5;
}
