.todo__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 2px 1px 10px #ddd;
  background-image: linear-gradient(#ffffff 60%, #fafafa 100%);
}

.todo__list-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.todo__list-button {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
}

.todo__list-button:hover .todo__list-icon,
.todo__list-button:focus .todo__list-icon {
  color: #268000;
  stroke-width: 1.7;
}

.todo__list-button:hover .todo__list-icon--red,
.todo__list-button:focus .todo__list-icon--red {
  color: #a30e0e;
}

.todo__list-icon {
  color: #333;
  transition: all 0.3s;
}

.todo__list-button:disabled .todo__list-icon,
.todo__list-button:disabled:hover .todo__list-icon {
  color: #ccc;
  stroke-width: 1.2;
}
