/* General Button */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Position */
.top-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

/* Shape */
.round {
  border-radius: 100%;
}
