.edit__container {
  flex: 1 1 auto;
  display: flex;
  gap: 5px;
}

.edit__input {
  flex: 1 1 auto;
  height: 4.2rem;
  padding: 0 8px;
  border: 1px solid #4fc41d;
  border-radius: 5px;
  font-size: 1.4rem;
  font-family: inherit;
  transition: all 0.3s;
}

.edit__input:focus {
  outline: none;
  box-shadow: 1px 2px 7px rgba(79, 196, 29, 0.35);
}

.edit__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.edit__icon-button {
  padding: 0;
  display: inline;
  width: 2.4rem;
  height: 2.4rem;
  background-color: transparent;
  box-shadow: none;
}

.edit__icon {
  color: #4fc41d;
  stroke-width: 1.6;
  transition: all 0.3s;
}

.edit__icon-button:hover,
.edit__icon-button:active,
.edit__icon-button:focus,
.edit__icon-button:hover .edit__icon {
  outline: none;
  background-color: transparent;
  color: #268000;
  stroke-width: 1.8;
}

.cancel {
  color: #c41d1d;
}

.edit__icon-button:hover .edit__icon.cancel {
  color: #7c1010;
}
