.label {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.checkbox {
  position: absolute;
  visibility: hidden;
}

.checkbox__label {
  padding: 0.5rem;
  font-size: 1.4rem;
  color: #333;
}

/* Styled Checkbox */

.checkbox-custom {
  flex-shrink: 0;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  border: 2px solid #4fc41d;
  cursor: pointer;
}

.checkbox-custom:hover {
  background-color: rgba(79, 196, 29, 0.4);
}

input:checked ~ .checkbox-custom {
  background-color: #4fc41d;
  border-radius: 5px;
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #4fc41d;
}

input:checked ~ .checkbox-custom:hover {
  background-color: rgba(79, 196, 29, 0.6);
}

.checkbox-custom::after {
  position: absolute;
  content: '';
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
}

input:checked ~ .checkbox-custom::after {
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

/* For Ripple Effect */
.checkbox-custom::before {
  position: absolute;
  content: '';
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #4fc41d;
  transform: scale(0);
}

input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
}
