.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  max-width: 42rem;
  height: 100vh;
}

.title {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
  color: #333;
}

.circle-icon {
  width: 3.4rem;
  stroke-width: 1.6;
  color: #eee;
}
