.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  width: 42rem;
  height: 100vh;
}

.heading-1 {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
  color: #333;
}

.todo__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 2rem 0rem;
}

.todo__list-item {
  padding: 1.6rem;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 2px 1px 10px #ddd;
}

.todo__list-label {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list-item__icon {
  flex-shrink: 0;
}

.list-item__checkbox {
  position: absolute;
  visibility: hidden;
}

.list-item__text {
  padding: 0.5rem;
  font-size: 1.4rem;
  color: #333;
}
