.todo__list-edit-form {
  display: flex;
  flex: 1 1 auto;
  gap: 12px;
}
.todo__list-input {
  min-height: 3.2rem;
  flex: 1 1 auto;
  padding: 0px 8px;
  font: inherit;
  font-size: 1.4rem;
  border: 1px solid #4fc41d;
  border-radius: 5px;
  resize: none;
  transition: 0.3s all ease-in-out;
}

.todo__list-input:focus {
  outline: none;
  box-shadow: 2px 2px 7px rgba(79, 196, 29, 0.4);
}
